.*.swp

# Hidden files
.*

# Allow GitHub config
!.github

# Downloads
/.downloads

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
/kafka
/bin
/pkg
/_obj
/_test
/vendor/bin
/docker/build
/logs
/jetstream

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.wasm

# Generated keys
*.pem
*.key
*.crt

# Default configuration file
dendrite.yaml

# Database files
*.db

# Log files
*.log*

# Generated code
cmd/dendrite-demo-yggdrasil/embed/fs*.go

# Test dependencies
test/wasm/node_modules

# Ignore complement folder when running locally
complement/

media_store/
