version: "3.4"
services:
  postgres:
    container_name: dendrite_postgres
    hostname: postgres
    image: postgres:9.5
    restart: always
    volumes:
      - ../postgres/create_db.sh:/docker-entrypoint-initdb.d/20-create_db.sh
    environment:
      POSTGRES_PASSWORD: itsasecret
      POSTGRES_USER: dendrite
    networks:
      - internal

  zookeeper:
    container_name: dendrite_zookeeper
    hostname: zookeeper
    image: zookeeper
    networks:
      - internal

  kafka:
    container_name: dendrite_kafka
    hostname: kafka
    image: wurstmeister/kafka
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_DELETE_TOPIC_ENABLE: "true"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
    depends_on:
      - zookeeper
    networks:
      - internal

networks:
  internal:
    attachable: true
