<!doctype html>
<html lang="en">
<head>
    <title>Matrix.org Privacy policy</title>
</head>
<body>
{{ if .HasConsented }}
    <p>
        Your base already belong to us.
    </p>
{{ else }}
    <p>
        All your base are belong to us.
    </p>
    {{ if not .PublicVersion }}
        <!-- The variables used here are only provided when the 'u' param is given to the homeserver -->
        <form method="post" action="consent">
            <input type="hidden" name="v" value="{{ .Version }}"/>
            <input type="hidden" name="u" value="{{ .User }}"/>
            <input type="hidden" name="h" value="{{ .UserHMAC }}"/>
            <input type="submit" value="Sure thing!"/>
        </form>
    {{ end }}
{{ end }}
</body>
</html>