<!doctype html>
<html lang="en">
<head>
    <title>Privacy policy</title>
</head>
<body>
{{ if .HasConsented }}
    <p>
        You have already given your consent.
    </p>
{{ else }}
    <p>
        Please give your consent to keep using this homeserver.
    </p>
    {{ if not .PublicVersion }}
        <!-- The variables used here are only provided when the 'u' param is given to the homeserver -->
        <form method="post" action="consent">
            <input type="hidden" name="v" value="{{ .Version }}"/>
            <input type="hidden" name="u" value="{{ .User }}"/>
            <input type="hidden" name="h" value="{{ .UserHMAC }}"/>
            <input type="submit" value="Sure thing!"/>
        </form>
    {{ end }}
{{ end }}
</body>
</html>