apiVersion: v2
name: dendrite
version: "0.14.6"
appVersion: "0.13.8"
description: Dendrite Matrix Homeserver
type: application
icon: https://avatars.githubusercontent.com/u/8418310?s=48&v=4
keywords:
  - matrix
  - chat
  - homeserver
  - dendrite
home: https://github.com/matrix-org/dendrite
sources:
  - https://github.com/matrix-org/dendrite
dependencies:
  - name: postgresql
    version: 14.2.3
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
